<% include ./layout/partials/header.ejs %>

<main class="chat-screen">
    <section class="col-xs-12 col-sm-3">
        <div class="text-container contacts-wrapper">
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/jk-rowling.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Joanne Rowling</h4>
                    <p class="last-msg">Hi!</p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/marques.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Gabriel José de la Concordia García Márquez</h4>
                    <p class="last-msg">Hola!</p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/tumanyan.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Հովհաննես Թումանյան</h4>
                    <p class="last-msg">
                        Բերանն արնոտ Մարդակերը էն անբան
                    </p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/neilgaiman.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Neil Gaiman</h4>
                    <p class="last-msg">Hi!</p>
                </div>
            </article>
            <article class="contact clearfix active">
                <div class="pull-left">
                    <img src="../../img/profile_img/dostoyevski.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Фёдор Михайлович Достоевский</h4>
                    <p class="last-msg">You: Зимние заметки о летних впечатлениях</p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/marques.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Gabriel José de la Concordia García Márquez</h4>
                    <p class="last-msg">Hola!</p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/dostoyevski.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Фёдор Михайлович Достоевский</h4>
                    <p class="last-msg">You: Зимние заметки о летних впечатлениях</p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/tumanyan.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Հովհաննես Թումանյան</h4>
                    <p class="last-msg">
                        Բերանն արնոտ Մարդակերը էն անբան
                    </p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/jk-rowling.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Joanne Rowling</h4>
                    <p class="last-msg">Hi!</p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/tumanyan.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Հովհաննես Թումանյան</h4>
                    <p class="last-msg">
                        Բերանն արնոտ Մարդակերը էն անբան
                    </p>
                </div>
            </article>
            <article class="contact clearfix">
                <div class="pull-left">
                    <img src="../../img/profile_img/jk-rowling.jpg" class="media-object prof-pic img-circle"
                         alt="Profile picture">
                </div>
                <div class="pull-left user-details">
                    <h4 class="media-heading user-name">Joanne Rowling</h4>
                    <p class="last-msg">Hi!</p>
                </div>
            </article>
        </div>
    </section>
    <section class="col-xs-12 col-sm-6">
        <div class="text-container messages">

        </div>
    </section>
    <section class="col-xs-12 col-sm-3">
        <div class="text-container contact-details">

        </div>
    </section>
</main>

<% include ./layout/partials/footer.ejs %>
